pip install flask
pip install flask-cors
pip install psycopg2
npm install uuid
pip install PyJWT
#new
pip install supabase
npm install jwt-decode
pip install python-dotenv psycopg2

pip install psycopg2-binary (ignore for now; this might be better than just psycopg2)