.account-container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  z-index: 1100;
  border-radius: 15px;
  padding: 2rem;
  width: 22.5rem;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  color: black;
}
.account-container input{
  height: 1.75rem;
  border-radius: 10px;
  border: none;
  padding: 0.5rem 0.85rem 0.5rem 0.85rem;
  font-size: 0.85rem;
  background-color: #ececec;
}
.account-container input::placeholder{
  color: rgb(128, 128, 128);
}
.account-container input:focus{
  outline-color: #023E7D;
}
.account-container button{
  border: none;
}
.account-container button:focus{
  outline: none;
}
.form-button{
  background-color: #0353A4;
  color: white;
  padding: 0.85rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.account-container button:hover{
  transition: background-color 0.25s ease, color 0.25s ease;
  border: none;
}
.form-button:hover{
  background-color: #002855;
  color: white;
}
.form-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.form-title{
  font-weight: 700;
  margin-top: 0;
}
.error-message{
  color: red;
  background-color: pink;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.register-success-wrapper{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.success-logo-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding-bottom: 1.5rem;
}
.success-logo{
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.alternative{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.alternative-button{
  cursor: pointer;
  color: #0353A4;
  font-weight: 600;
}
.alternative-button:hover{
  color: #002855;
  transition: color 0.2s ease;
}
