.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.blur{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 46, 46, 0.85);
}
.exit-button{
  padding: 0.85rem;
  border: none;
  margin-top: 0;
  margin-bottom: 0;
  background: none;
  font-size: 25px;
  cursor: pointer;
  display: flex;
  margin-left: auto;
}
.exit-button:hover{
  color: rgb(167, 167, 167);
  border: none;
  transition: background-color 0.25s ease, color 0.25s ease;
  border: none;
}
.exit-button:focus{
  outline: none;
}
.required{
  color: red;
}
