.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.site{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.all-content-wrap{
  flex: 1;
  margin-bottom: 2.5rem;
  position: relative;
  width: 65rem;
  max-width: calc(100% - 2rem);
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
}
.blur{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 46, 46, 0.85);
}
.blocking-div{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100vw;
  height: 100vh;
}
.exit-button{
  border: none;
  background: none;
  font-size: 22.5px;
  cursor: pointer;
  display: flex;
  margin-left: auto;
  padding: 0;
  color: black;
  background-color: transparent;
}
.exit-button:hover{
  color: rgb(167, 167, 167);
  border: none;
  transition: background-color 0.25s ease, color 0.25s ease;
  border: none;
  background-color: transparent;
}
.exit-button:focus{
  outline: none;
}
.required{
  color: red;
}
.popup-wrapper{
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #dbdbdb;
  z-index: 2100;
  border-radius: 20px;
  padding: 2rem;
  margin-bottom: 1rem;
  max-width: calc(100% - 4rem);
  color: black;
}
.popup{
  width: 22.5rem;
  text-align: center;
}
.popup-buttons-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}
.popup-button{
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  flex: calc(50% - 0.5rem);
  color: white;
}
