.content-wrapper{
  width: 65rem;
  max-width: 100%;
}
.about-us{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}
.about-us-wrapper{
  width: 40rem;
  text-align: center;
}
.about-us-title{
  font-size: 2.55rem;
  margin-bottom: 0;
  margin-top: 2rem;
  color: #023E7D;
}
.about-us-description{
  font-weight: 600;
  color: #5C677D;
  font-size: 1.4rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}
.search-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar{
  height: 3rem;
  width: 82.5%;
  padding-left: 2.5rem;
  padding-right: 1rem;
  font-size: 1rem;
  border: 1px solid rgb(228, 227, 227);
  border-radius: 10px;
  background-image: url("/images/search.svg");
  background-repeat: no-repeat;
  background-position: 0.8rem;
  background-size: 1.2rem;
  margin-top: 1rem;
}
.search-bar:focus{
  outline-color: #023E7D;
}
.content-grid{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}
.sections-navbar, .content-navbar{
  display: flex;
  flex-direction: column;
  padding-top: 3.5rem;
  background-color: white;
  width: 16rem;
}
.navbar-label, .highlight{
  font-weight: 500;
  padding: 0.75rem;
  border-radius: 7.5px;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
  white-space: nowrap;
}
.highlight{
  background-color: rgba(239, 239, 239, 0.725);
}
.highlight-sub{
  background-color: #edf4fe;
}
.sections-navbar img{
  filter: brightness(0) saturate(100%) invert(21%) sepia(73%) saturate(2783%) hue-rotate(198deg) brightness(86%) contrast(98%);
}
.content-navbar img{
  filter: brightness(0) saturate(100%) invert(21%) sepia(73%) saturate(2783%) hue-rotate(198deg) brightness(86%) contrast(98%);
}
.subsections-wrapper{
  height: 20rem;
  overflow: auto;
  overflow-x: hidden;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
}
.sub-section, .highlight-sub{
  padding: 0.75rem;
  border-radius: 7.5px;
  font-size: 0.9rem;
}
.sub-section:hover{
  cursor: pointer;
  background-color: #edf4fe;
  transition: background-color 0.2s ease;
}
.ask-answer-logo{
  width: 1.5rem;
}
.projects-logo{
  width: 1.75rem;
}
.navbar-label:hover{
  background-color: rgba(239, 239, 239, 0.725);
  transition: background-color 0.2s ease;
}
.projects, .ask-and-answers{
  flex: 1 1 30rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-wrap: break-word;
  word-break: break-word;
}
.content-title{
  margin-bottom: 0.75rem;
  font-size: 1.75rem;
}
.post-header{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.filter-wrapper{
  position: relative;
  z-index: 1000;
}
.current-filter{
  font-weight: 500;
  color: black;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  color: rgb(0, 0, 0);
  transition: background-color 0.2s ease-in-out;
}
.filter-dropdown{
  position: absolute;
  display: none;
  width: 100%;
}
.dropdown-arrow{
  width: 1.1rem;
}
.filter-wrapper:hover .filter-dropdown{
  display: block;
  flex-direction: column;
  background-color: #e6e6e6;
}
.filter{
   padding: 0.4rem 0.75rem;
   font-weight: 500;
}
.filter:hover{
  background-color: rgb(193, 193, 193);
}
.filter-wrapper:hover .current-filter{
  background-color: rgb(193, 193, 193);
}
.post-label{
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 800;
  color: #284b63;
  font-size: 1.4rem;
}
.ask-and-ans{
  padding: 1rem;
}
.project-wrapper{
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(228, 227, 227);
  border-radius: 10px;
  padding: 1.25rem 1.5rem 1.25rem 1.5rem;
  text-decoration: none;
  cursor: pointer;
}
.project-wrapper:hover, .ask-and-ans:hover{
  background-color: rgba(239, 239, 239, 0.725);
  transition: background-color 0.2s ease-in-out;
}
.project-first-row{
  position: relative;
  display: flex;
  align-items: center;
}
.ask-ans-wrapper{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  cursor: pointer;
  
}
.user-info{
  display: inline-flex;
  align-items: center;
  padding-right: 0;
  text-decoration: none;
}
.user-name{
  font-weight: 450;
  margin-left: 0.5rem;
  color: #001233;
}
.pfp{
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}
.post-date{
  color: #5C677D;
  font-size: 0.9rem;
  margin-left: 0.3rem;
}
.post-date-dot{
  margin-right: 0.3rem;
}
.ask-and-ans .post-title{
  margin-bottom: 0;
}
.post-title{
  margin: 0.4rem 0rem 0.5rem 0rem;
  font-weight: 650;
}
.post-video{
  margin-top: 1rem;
}
.post-video video{
  width: 100%;
  height: auto;
  max-height: 32.5rem;
}
.post-desc{
  color: #001233;
}
.upvotes-comments-wrapper{
  display: flex;
  align-items: center;
  color: black;
  font-weight: 500;
  margin-top: 0.6rem;
  gap: 0.35rem;
}
.upvotes-comments-wrapper span{
  display: flex;
  align-items: center;
}
.upvote-icon{
  filter: brightness(0) saturate(100%) invert(42%) sepia(0%) saturate(1942%) hue-rotate(139deg) brightness(68%) contrast(84%);
  transition: filter 0.2s ease;
}
.upvote-icon-liked{
  filter: brightness(0) saturate(100%) invert(20%) sepia(50%) saturate(4356%) hue-rotate(199deg) brightness(87%) contrast(98%);
}
.upvote-icon:hover{
  filter: brightness(0) saturate(100%) invert(20%) sepia(50%) saturate(4356%) hue-rotate(199deg) brightness(87%) contrast(98%);
}
.upvote-icon, .upvote-icon-liked{
  height: 1.5rem;
  transition: filter 0.2s ease-in-out;
  margin-right: 0.35rem;
}
.comments-icon{
  filter: brightness(0) saturate(100%) invert(42%) sepia(0%) saturate(1942%) hue-rotate(139deg) brightness(68%) contrast(84%);
  transition: filter 0.2s ease;
}
.comments-icon:hover{
  filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(7483%) hue-rotate(24deg) brightness(102%) contrast(105%);
}
.comments-icon{
  height: 2rem;
  margin-right: 0.15rem;
}
.empty-container-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  flex-direction: column;
  filter: brightness(0) saturate(100%) invert(66%) sepia(14%) saturate(0%) hue-rotate(237deg) brightness(94%) contrast(96%);
}
.horizontal-line {
  height: 1px;
  background-color: #dfdfdf;
}
.empty-icon{
  width: 2.5rem;
}
.delete{
  margin-left: auto;
  filter: brightness(0) saturate(100%) invert(42%) sepia(0%) saturate(1942%) hue-rotate(139deg) brightness(68%) contrast(84%);
  transition: filter 0.2s ease;
}
.delete:hover{
  filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(7483%) hue-rotate(24deg) brightness(102%) contrast(105%);
}
.post-deleted{
  color: #023E7D;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 1.15rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.post-tags{
  margin-top: 0.75rem;
  display: flex;
  margin-left: auto;
  gap: 0.5rem;
}
.post-tag{
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  background-color: #edf4fe;
  color: #023E7D;
  border-radius: 5px;
  font-size: 0.8rem;
}
.hidden{
  display: none;
}
.display{
  display: block;
}
  
@media(max-width: 51rem) {
  .sections-navbar, .content-navbar{
    overflow-x: auto;
  }
  .content-navbar{
    padding-top: 0;
    gap: 0.5rem;
    width: 100%;
  }
  .content-navbar .navbar-section{
    display: flex;
    gap: 0.5rem;
  }
  .content-navbar .subsections-wrapper{
    overflow-x: auto;
    flex-direction: row;
    height: 3.5rem;
    white-space: nowrap;
  }
  .sections-navbar{
    flex-direction: row;
    padding-top: 0;
    gap: 0.5rem;
    width: 100%;
  }
}
