.projects-wrapper{
  cursor: pointer;
}
.projects-wrapper:hover{
  background-color: rgb(239, 239, 239);
  transition: background-color 0.15s ease-in;
}
.projects{
  padding: 1.25rem;
  margin-bottom: 2.5px;
  font-size: 1rem;
}
.user-info{
  display: inline-flex;
  align-items: center;
  padding-right: 0;
  color: rgb(0, 0, 0);
}
.user-name{
  font-weight: 500;
  margin-left: 0.5rem;
}
.pfp{
  height: 2rem;
}
.project-title{
  margin: 0.5rem 0rem 0.5rem 0rem;
}
.project-video{
  margin-top: 1rem;
}
.horizontal-line {
  height: 1px;
  background-color: #e3e3e3;
}
