.content-wrapper{
  max-width: 65rem;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
.about-us{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}
.about-us-wrapper{
  width: 40rem;
  text-align: center;
}
.about-us-title{
  font-size: 2.55rem;
  margin-bottom: 0;
  margin-top: 2rem;
  color: #023E7D;
}
.about-us-description{
  font-weight: 600;
  color: #5C677D;
  font-size: 1.4rem;
  margin-left: auto;
  margin-right: auto;
}
.search-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar{
  height: 3rem;
  width: 82.5%;
  padding-left: 2.5rem;
  padding-right: 1rem;
  font-size: 1rem;
  border: 1px solid rgb(228, 227, 227);
  border-radius: 10px;
  background-image: url("../media/images/search.svg");
  background-repeat: no-repeat;
  background-position: 0.8rem;
  background-size: 1.2rem;
}
.search-bar:focus{
  outline-color: #023E7D;
}
.content-grid{
  display: flex;
  flex-wrap: wrap;
}
.projects{
  flex: 1 1 25rem;
  margin-right: 1rem;
}
.ask-and-answers{
  flex: 1 1 15rem;
}
.content-title{
  margin-bottom: 0.75rem;
  font-size: 1.75rem;
}
.projects-label, .ask-and-answers-label{
  margin-bottom: 0;
  margin-top: 0;
  margin-bottom: 0.8rem;
  font-weight: 800;
  color: #284b63;
}
.ask-and-answers-label{
  margin-bottom: 1.05rem;
}
.ask-and-ans{
  padding: 1rem;
}
.project-wrapper{
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(228, 227, 227);
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1.25rem 1.5rem 1.25rem 1.5rem;
  text-decoration: none;
  cursor: pointer;
}
.project-wrapper:hover, .ask-and-ans:hover{
  background-color: rgba(239, 239, 239, 0.725);
  transition: background-color 0.2s ease-in-out;
}
.project-first-row{
  display: flex;
  align-items: center;
}
.ask-ans-wrapper{
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  padding-top: 0rem;
  text-decoration: none;
  cursor: pointer;
}
.user-info{
  display: inline-flex;
  align-items: center;
  padding-right: 0;
}
.user-name{
  font-weight: 500;
  margin-left: 0.5rem;
  color: #001233;
}
.pfp{
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}
.project-date{
  color: #5C677D;
  font-size: 0.9rem;
  margin-left: 0.3rem;
}
.project-date-dot{
  margin-right: 0.3rem;
}
.ask-and-ans .post-title{
  margin-bottom: 0;
}
.post-title{
  margin: 0.4rem 0rem 0.5rem 0rem;
  font-size: 1.3rem;
  font-weight: 650;
}
.project-video{
  margin-top: 1rem;
}
.project-video video{
  width: 100%;
  height: auto;
  max-height: 32.5rem;
}
.post-desc{
  color: #001233;
}
.upvotes-comments-wrapper{
  display: inline-flex;
  align-items: center;
  color: #001233;
  margin-top: 0.6rem;
}
.upvotes-comments-wrapper span{
  display: flex;
  align-items: center;
}
.upvotes{
  filter: brightness(0) saturate(100%) invert(16%) sepia(28%) saturate(6607%) hue-rotate(199deg) brightness(93%) contrast(98%);
  margin-right: 0.5rem;
}
.upvotes:hover{
  filter: brightness(0) saturate(100%) invert(45%) sepia(20%) saturate(5561%) hue-rotate(191deg) brightness(82%) contrast(100%);
}
.upvote-icon{
  height: 1.5rem;
  transition: filter 0.2s ease-in-out;
  margin-right: 0.35rem;
}
.comments{
  filter: brightness(0) saturate(100%) invert(42%) sepia(0%) saturate(1942%) hue-rotate(139deg) brightness(68%) contrast(84%);
}
.comments:hover{
  filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(7483%) hue-rotate(24deg) brightness(102%) contrast(105%);
}
.comments-icon{
  height: 2rem;
  margin-right: 0.15rem;
}
.horizontal-line {
  height: 1px;
  background-color: #dfdfdf;
}
