.content-wrapper{
  max-width: 60rem;
  margin: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.post-project{
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(215, 215, 215);
  border-radius: 10px;
  padding: 2rem;
  margin-bottom: 1rem;
}
.post-project label{
  font-weight: 500;
}
.create-post{
  margin-top: 0;
}
.post-project-last{
  display: flex;
  margin-top: 0.5rem;
  align-items: center;
  justify-content: space-between;
}
.project-submit{
  margin-left: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  border: none;
  background-color: #ff8533;
  color: white;
  transition: background-color 0.15s ease;
}
.project-submit:hover{
  background-color: #ff6600;
}
.post-title, .post-description{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 10px;
  border: 1px solid black;
  padding: 0.5rem 0.85rem 0.5rem 0.85rem;
  font-size: 1rem;
}
.post-title{
  height: 1.4rem;
}
.post-description{
  height: 10rem;
  resize: none;
}
.post-video{
  margin-top: 0.5rem;
}
.project-wrapper{
  display: flex;
  flex-direction: column;
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.project-wrapper:hover{
  background-color: rgba(239, 239, 239, 0.725);
  transition: background-color 0.15s ease-in;
}
.project{
  padding: 0.75rem;
}
.user-info{
  display: inline-flex;
  align-items: center;
  padding-right: 0;
  color: rgb(0, 0, 0);
  z-index: 1030;
}
.user-name{
  font-weight: 500;
  margin-left: 0.5rem;
}
.pfp{
  height: 2rem;
}

.project-title{
  margin: 0.5rem 0rem 0.5rem 0rem;
}
.project-video{
  margin-top: 1rem;
  cursor: pointer;
}
.project-video video{
  width: 100%;
  height: auto;
  max-height: 32.5rem;
}
.upvotes-comments-wrapper{
  margin-top: 0.75rem;
  display: inline-flex;
  align-items: center;
}
.upvote-icon{
  height: 1.5rem;
  margin-right: 0.25rem;
  transition: filter 0.1s ease;
}
.comments-icon{
  height: 2rem;
  margin-left: 0.25rem;
}
.upvote-icon{
  filter: brightness(0) saturate(100%) invert(78%) sepia(39%) saturate(744%) hue-rotate(165deg) brightness(85%) contrast(98%);
}
.upvote-icon:hover{
  filter: brightness(0) saturate(100%) invert(58%) sepia(75%) saturate(1131%) hue-rotate(160deg) brightness(91%) contrast(89%);
}
.comments-icon{
  filter: brightness(0) saturate(100%) invert(76%) sepia(82%) saturate(2028%) hue-rotate(320deg) brightness(114%) contrast(101%);
}
.comments-icon:hover{
  filter: brightness(0) saturate(100%) invert(57%) sepia(97%) saturate(3594%) hue-rotate(360deg) brightness(102%) contrast(106%);
}
.horizontal-line {
  height: 1px;
  background-color: #dfdfdf;
}
