.post-project-wrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  z-index: 1100;
  border-radius: 10px;
  padding: 2rem 4rem 3rem 4rem;
  margin-bottom: 1rem;
  max-width: calc(100% - 8rem);
}
.post-project{
  display: flex;
  flex-direction: column;
  width: 47.5rem;
  max-width: 100%;
}
.post-project label{
  font-weight: 500;
  font-size: 1rem;
}
.create-post-title, .create-post-description, .create-post-body{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 6px;
  border: 1px solid black;
  padding: 0.5rem 0.85rem 0.5rem 0.85rem;
  font-size: 1rem;
}
.create-post-title{
  height: 1.4rem;
}
.create-post-body, .create-post-description{
  resize: none;
}
.create-post-body{
  height: 10rem;
}
.post-video{
  margin-top: 0.5rem;
}
.post-project input:focus, textarea:focus{
  outline-color: #023E7D;
}
.post-project textarea{
  padding: 1rem;
}
.create-post{
  margin-top: 0;
  font-weight: 900;
}
.post-project-last{
  display: flex;
  margin-top: 0.5rem;
  align-items: center;
  justify-content: space-between;
}
.project-submit{
  margin-left: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  border: none;
  background-color: #0353A4;
  color: white;
  transition: background-color 0.15s ease;
}
.project-submit:hover{
  background-color: #001845;
}
.post-success-wrapper{
  text-align: center;
}