.header{
  background-color: white;
  height: 5rem;
  position: sticky;
  top: 0;
  z-index: 1030;
  transition: border-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-bottom: 2px solid transparent;
}
.header-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  width: 65rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.site-info{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}
.site-name{
  border: 1px solid black;
  font-family: Roboto;
  font-size: 1.75rem;
  border: none;
  color: #0353A4;
  font-weight: 600;
  margin: 0;
}
.site-logo{
  width: 2.5rem;
  margin-right: 0.2rem;
}
.header.scrolled{
  border-bottom: 2px solid rgba(227, 227, 227, 0.888);
}
.header-buttons-wrapper{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header-buttons-wrapper button:hover{
  border: none;
}
.header-create-post-button{
  cursor: pointer;
  margin-right: 1.5rem;
  color: black;
  font-weight: 600;
  transition: color 0.2s ease-in-out;
}
.header-create-post-button:hover{
  color: #0353A4;
}
.header-pfp{
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  border: 3px solid transparent;
  object-fit: cover;
  overflow: hidden;
  cursor: pointer;
}
.header-pfp:hover{
  border: 3px solid rgb(228, 228, 228);
  transition: border-color 0.2s ease;
}
.header-login-button{
  background-color: #0353A4;
  padding: 0.75rem 2rem 0.75rem 2rem;
  height: 100%;
  border: none;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease-in-out;
  color: white;
}
.header-login-button:hover{
  background-color: #002855;
}
.profile-dropdown{
  position: absolute;
  right: 0;
  top: 4rem;
  right: 0;
  border: 2px solid rgba(227, 227, 227, 0.888);
  width: 18rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: none;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile-dropdown a{
  padding: 1rem 1.5rem 1rem 1.5rem;
  cursor: pointer;
}
.dropdown-profile{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.dropdown-profile:hover{
  background-color: rgba(239, 239, 239, 0.725);
  transition: background-color 0.2s ease-in-out;
}
.dropdown-user, .view-profile{
  margin-left: 0.75rem;
}
.view-profile, .dropdown-logout{
  font-weight: 600;
  color: #023E7D;
}
.dropdown-user{
  color: #5C677D;
}
.dropdown-logout{
  margin-left: 0.5rem;
}
.dropdown-signout{
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.dropdown-signout:hover{
  background-color: rgba(239, 239, 239, 0.725);
  transition: background-color 0.2s ease-in-out;
}
.sign-out-svg{
  width: 2rem;
}
.dropdown-icons{
  display: flex;
  width: 3rem;
  align-items: center;
  justify-content: center;
}
      


