.header{
  background-color: white;
  height: 5rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: border-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1rem;
  border-bottom: 2px solid transparent;
}
.header-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  width: 65rem;
}
.site-info{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
}
.site-name{
  border: 1px solid black;
  font-family: Roboto;
  font-size: 1.75rem;
  border: none;
  color: #0353A4;
  font-weight: 600;
  margin: 0;
}
.site-logo{
  width: 2.5rem;
  margin-right: 0.2rem;
}
.header.scrolled{
  border-bottom: 2px solid rgba(227, 227, 227, 0.888);
}
.header-buttons-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-buttons-wrapper button:hover{
  border: none;
}
.header-create-post-button{
  cursor: pointer;
  margin-right: 1.5rem;
  color: black;
  font-weight: 600;
  transition: color 0.2s ease-in-out;
}
.header-create-post-button:hover{
  color: #0353A4;
}
.header-pfp{
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  border: 3px solid transparent;
  object-fit: cover;
  overflow: hidden;
  cursor: pointer;
}
.header-pfp:hover{
  border: 3px solid rgb(228, 228, 228);
  transition: border-color 0.2s ease;
}
.header-login-button{
  background-color: #0353A4;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 100%;
  border: none;
  display: inline-flex;
  align-items: center;
  transition: background-color 0.2s ease-in-out;
  color: white;
}
.header-login-button:hover{
  background-color: #002855;
}

