.loader-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 25rem;
}
.loader {
    color: #cecece;
    font-family: Consolas, Menlo, Monaco, monospace;
    font-weight: bold;
    font-size: 3rem;
    opacity: 0.8;
  }
  .loader:before {
    content: "{";
    display: inline-block;
    animation: pulse 0.4s alternate infinite ease-in-out;
  }
  .loader:after {
    content: "}";
    display: inline-block;
    animation: pulse 0.4s 0.3s alternate infinite ease-in-out;
  }
  @keyframes pulse {
    to {
      transform: scale(0.8);
      opacity: 0.5;
    }
  }

.view-more-loader-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.view-more-loader {
    width: 1rem;
    height: 1rem;
    border: 2px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 