.no-hover .post-wrapper{
  cursor: default;
}
.no-hover .post-wrapper:hover{
  background-color: transparent;
  transition: none;
}
.comment-top-row{
  display: flex;
  align-items: center;
  position: relative;
}
.user-info{
  cursor: pointer;
}
 .upvotes-comments-wrapper img{
  cursor: pointer;
 }
.comment{
  border-radius: 10px;
}
.comment-input-wrapper{
  position: relative;
  margin-bottom: 0.05rem;
}
.all-replies{
  margin-left: 2.5rem;
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.comment-input{
  height: 5rem;
  width: 100%;
  padding: 1.85rem 2.3rem 0rem 1.7rem; /* top right bottom left */
  resize: none;
  border: 1px solid rgb(227, 227, 228);
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 1rem;
}
.comment-submit-icon{
  background: none;
  border: none;
  position: absolute;
  right: 1rem;
  height: 5rem;
  width: 2rem;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 1000;
}
.comment-submit-icon img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  display: block;
}
.comment-submit-icon:hover{
  background: none;
  opacity: 0.7;
}
.comment-text{
  white-space: pre-line; /* allow users to go to new line */
  margin-top: 0.5rem
}
.all-comments{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.25rem;
}
/* for some reason, can't do .all-comment .all-replies */
.all-replies{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.comment-login-msg{
  background-color: #edf4fe;
  /* border: 1px solid yellow; */
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0 0.5rem 0;
  border-radius: 5px;
}
.comment-buttons{
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #0353A4;
  align-items: center;
}
.comment-buttons .comment-reply-button{
  cursor: pointer;
  margin-left: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.comment-reply-button:hover{
  background-color: #d4dcef;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease;
}
.comment-delete-button{
  cursor: pointer;
}
.comment-delete-button:hover{
  opacity: 0.7;
}
.comment-reply-box{
  position: relative;
  margin-bottom: 0.5rem;
}
.reply-buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #0353A4;
  font-weight: 500;
}
.reply-input{
  height: 5rem;
  width: 100%;
  padding: 1.85rem 2.7rem 0rem 1.7rem; /* top right bottom left */
  margin-top: 1rem;
  resize: none;
  border: 1px solid rgb(227, 227, 228);
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 1rem;
}
.cancel-button{
  cursor: pointer;
  color: white;
  border-radius: 2rem;
  /* margin-top: 1rem;
  margin-bottom: 1rem; */
}
/* .cancel-button:hover{
  background-color: gray;
} */
.comment-submit-icon-reply{
  background: none;
  border: none;
  position: absolute;
  right: 1rem;
  top: 1rem;
  height: 5rem;
  width: 2rem;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 1000;
}
.comment-submit-icon-reply img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  display: block;
}
.comment-submit-icon-reply:hover{
  background: none;
  opacity: 0.7;
}
.reply-reply-button{
  cursor: pointer;
}
.reply-delete-button{
  cursor: pointer;
  float: right;
}
.view-more-button{
  margin-top: 1.5rem;
  width: 100%;
}
.view-more-replies-button{
  display: inline-flex;
  gap: 0.3rem;
  color: #0353A4;
  cursor: pointer;
  align-items: center;
  margin-right: auto;
}
.view-more-replies-button:hover{
  color: #5C677D;
  transition: color 0.2s ease;
}
.horizontal-line {
  height: 1px;
  background-color: #dfdfdf;
}
.project-desc-post{
  margin-top: 1rem;
}
.no-hover .post-title{
  font-weight: 700;
  font-size: 1.5rem
}
.post-desc-post{
  margin-top: 0.75rem;
  margin-bottom: 1.25rem;
}
.post-video{
  margin-bottom: 0.75rem;
}
.post-wrapper .horizontal-line{
  margin-top: 1.4rem;
}
.post-kebab-menu-wrapper{
  position: absolute;
  right: 0;
}
.kebab-menu{
  font-size: 1.5rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.kebab-menu:hover{
  background-color: #d4dcef;
  transition: background-color 0.2s ease-in-out;
  border-radius: 50%;
}
.kebab-menu-dropdown{
  position: absolute;
  right: 0;
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.04),
    0 4px 6px rgba(0, 0, 0, 0.05),
    0 12px 28px rgba(0, 0, 0, 0.1);
  width: 7.5rem;
  display: flex;
  flex-direction: column;
  color: #0353A4;
  font-weight: normal;
  border-radius: 7.5px;
}
.kebab-menu-dropdown div:hover{
  background-color: #e6e6e6;
  transition: background-color 0.2s ease;
}
.delete-icon{
  width: 1.75rem;
  filter: brightness(0) saturate(100%) invert(0%) sepia(84%) saturate(7500%) hue-rotate(333deg) brightness(111%) contrast(114%);
}
.edit-icon{
  width: 1.75rem;
  
}
.kebab-menu-edit-button{
  flex: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
   padding : 0.5rem 0.75rem;
}
.kebab-menu-edit-button:hover{
  background-color: rgba(239, 239, 239, 0.725);
  transition: background-color 0.2s ease-in-out;
}
.kebab-menu-delete-button{
  flex: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
  padding : 0.5rem 0.75rem;
}
.kebab-menu-delete-button:hover{
  background-color: rgba(239, 239, 239, 0.725);
  transition: background-color 0.2s ease-in-out;
}

.post-deleted-msg{
  /* background-color: lightblue; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25rem;
  color: #023E7D;
}

  /* color: #023E7D;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 1.15rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem; */